body {
	margin: 0px;
    background-color: #e6e6e6;
    width: 100%;
	height: 100%;
	transition: .7s;
	overflow-x: hidden;
	overflow-y: hidden;
}

img{
	transition: 2s;
}

.corner {
	position: absolute;
	bottom: 0px;
	right: 0px;
	height: 70px;
	width: 70px;
}

.corner:before {
	content: "";
	position: absolute;
	top: 0%;
	left: 0%;
	width: 0px;
	height: 0px;
	border-bottom: 70px solid #e6e6e6;
	border-left: 70px solid transparent;
	transition: 2s;
}

.nightmode__icon {
	position: absolute;
	height: 20px;
	width: 20px;
	transition: .7s;
	&--moon {
		top: 10px;
		left: 10px;
	}
	&--sun {
		opacity: 0;
		bottom: 10px;
		right: 10px;
	}
}

.page {
	flex-flow: wrap column;
	margin: 0;
	display: flex;
	text-align: center;
	display: inline;
}
.nightmode {
	position: absolute;
	width: 70px;
	height: 70px;
	z-index: 1;
		&__expand {
			top: 0;
			left: 0;
			cursor: pointer;
		};
		&__contract {
			right: 0;
			bottom: 0;
		};
}
h2 {
	transition: 2s;
}

.whitetext {
	color: white;
}

.fold:before {
	content: "";
	position: absolute;
	top: 0%;
	left: 0%;
	width: 0px;
	height: 0px;
	border-bottom: 70px solid #e6e6e6;
	border-left: 70px solid transparent;
	box-shadow: 7px 7px 7px rgba(0,0,0,0.3);
	transition: 2s;
  }

  .fold:after {
	content: "";
	position: absolute;
	top: 0%;
	left: 0%;
	width: 0px;
	height: 0px;
	border-top: 70px solid #272822; 
	border-right: 70px solid transparent;
	z-index: -1;
	transition: 2s;
  }
  

.app {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 450px;
	z-index: 10;
}
.random{
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -10px;
  display: block;
  width: 100px;
  height: 100px;
  font-size: 17px;
  text-transform: uppercase;
  color: white;
  border: none;
  border-radius: 50%;
  background: #5a99d4;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(#5a99d4, .5);
  animation: pulse 1.5s infinite;
  transition: .7s;
}
.random:hover {
	animation: none;
}
.random:active {
	transform: scale(.6);
	transition: .7s;
}
button:focus {outline:0;}
@keyframes pulse {
	0% {
	 transform: (scale(.9));
	}
	70% {
	  transform: (scale(1));
	  box-shadow: 0 0 0 50px rgba(#5a99d4, 0);
	}
	100% {
	  transform: (scale(.9));
	  box-shadow: 0 0 0 0 rgba(#5a99d4, 0);
	}
  }

.night {
	position: relative;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #595a5b;
	color: white;
	transition: .7s;
	cursor: pointer;
	text-transform: uppercase;
	display: block;
	left: 30px;
	border: none;
}
.night:active {
	transform: scale(.6);
	transition: .7s;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }